# DATABASE CREDENTIALS
POSTGRES_USER=no
POSTGRES_PASSWORD=hahaha
POSTGRES_DB=haha

# PGADMIN CREDENTIALS
PGADMIN_EMAIL=admin@ma6.com
PGADMIN_PASSWORD=your_secure_pgadmin_password

# CLOUDFLARE TUNNELS (Secure Exposure for Raspberry Pi)
CLOUDFLARE_TUNNEL_TOKEN=your_cloudflare_tunnel_token_here
