# DATABASE CREDENTIALS
POSTGRES_USER=no
POSTGRES_PASSWORD=hahaha
POSTGRES_DB=haha

# PGADMIN CREDENTIALS
PGADMIN_EMAIL=hahaha
PGADMIN_PASSWORD=hahaha

# CLOUDFLARE TUNNELS (Secure Exposure for Raspberry Pi)
CLOUDFLARE_TUNNEL_TOKEN=hahaha