# DATABASE CREDENTIALS
POSTGRES_USER=no
POSTGRES_PASSWORD=hahaha
POSTGRES_DB=haha

# PGADMIN CREDENTIALS
PGADMIN_EMAIL=hahaha
PGADMIN_PASSWORD=hahaha

# CLOUDFLARE TUNNELS (Secure Exposure for Raspberry Pi)
CLOUDFLARE_TUNNEL_TOKEN=hahaha

# PORTS & URLS (OUT)
BACKEND_PORT=8080
FRONTEND_PORT=3000

# CONFIGS
ASPNETCORE_ENVIRONMENT=Production
NEXT_PUBLIC_API_URL=http://localhost:${BACKEND_PORT}
CORS_ORIGINS=http://localhost:${FRONTEND_PORT}

# RESOURCE LIMITS
MEM_LIMIT_DB=512m
MEM_LIMIT_BACKEND=512m
MEM_LIMIT_FRONTEND=1g